MONGO_URI=mongodb+srv://sharelearner2024:HackstreetBoys@sharelearner.0zl6clk.mongodb.net
PORT=5000


CLOUDINARY_CLOUD_NAME=dqufodszt
CLOUDINARY_API_KEY=561711438852175
CLOUDINARY_API_SECRET=0V4oZNxEbtdWe07lcrT1wFs-eeI